.container {
    display: grid;
    grid-template-areas:
    "imagem para"
    "imagem kirb"
    "imagem text"
    "imagem link";
}

.imagem {
    grid-area: imagem;
    width: 25%;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.para {
    grid-area: para;
    font-family: 'Silkscreen', sans-serif;
    font-weight: 400;
    text-align: center;
    color: var(--texto);
    background-color: var(--fundo);
    justify-content: center;
    margin-bottom: 1rem;
}

.kirb {
    grid-area: kirb;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.link {
    grid-area: link;
    font-family: 'Silkscreen', sans-serif;
    font-weight: 400;
    text-align: center;
    color: var(--texto);
    background-color: var(--fundo);
    justify-content: center;
    margin-bottom: 1rem;
}

.text{
    grid-area: text;
    font-family: 'Silkscreen', sans-serif;
    font-weight: 400;
    text-align: center;
    color: var(--texto);
    background-color: var(--fundo);
    justify-content: center;
}